.headerContainer{
	margin-left: 5px;
	right: 0;
	top: 0;
	height: 42px;
	display: -webkit-flex;
	display: flex;
}
#menuBtn, #mainBtn, #aboutUsBtn, #servicesBtn, #contactsBtn{
	height: 30px;
	background: skyblue;
	box-shadow: 3px 3px 3px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	transition-property: box-shadow, transform;
	transition-duration: 300ms, 300ms;
}
#menuBtn{
	flex: 0 1;
	padding-left: 5px;
	padding-right: 5px;
}
#mainBtn, #aboutUsBtn, #servicesBtn, #contactsBtn{
	flex: 1 0;
}
#menuBtn:hover, #mainBtn:hover, #aboutUsBtn:hover, #servicesBtn:hover, #contactsBtn:hover{
	box-shadow: 0px 0px 5px 2px;
}
#leftAhead{
	height: 1000px;
	background: rgba(192, 192, 192, 0.2);
	width: 0px;
	opacity: 0;
	border-right: 1px solid grey;
	transition-property: width, opacity;
	transition-duration: 500ms, 500ms;
}
#leftAhead div{
	width: 100%;
	height: 25px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	transition: background 300ms;
	border-bottom: 1px solid grey;
}
#leftAhead div:hover{
	background: rgba(192, 192, 192, 0.4);
}
#aboutUsBtnList{
	border: 1px solid grey;
	background: rgba(192, 192, 192, 0.2);
	opacity: 0;
	height: 0px;
	margin-top: 15px;
	transition-property: height, opacity;
	transition-duration: 500ms, 500ms;
}
#aboutUsBtnList div{
	padding-top: 10px;
	height: 25px;
	border-bottom: 1px solid grey;
	transition: background 300ms;
}
#aboutUsBtnList div:hover{
	background: rgba(192, 192, 192, 0.4);
}
#aboutUsBtn:hover #aboutUsBtnList{
	opacity: 1;
	height: 215px;
}